.header {
   
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20.5px 0;
}
.logo {

}
.logo__image {

}
.menu {

}
.menu__list {
    display: flex;
    column-gap: 64px;
}
.menu__item {

}
.anchor-link {
    font-size: 20px;
    font-weight: 700;
    color: $colorText;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.6s;
}

.anchor-link:hover {
    color: $contextColor;
}


    