.hero{
    max-width: 448px;

    &__discription{
        color: $colorText;
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }
}

.main-title{
    color: $contextColor;
    font-size: 64px;
    font-weight: 900;
    margin: 0 0 8px 0;
}

.main-subtitle{
    color: $colorText;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 10px 0;
}